[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
tensorflow = "*"
scikit-learn = "*"
scipy = "*"
jupyter = "*"
pylint = "*"
matplotlib = "*"
skfeature = {editable = true,git = "https://github.com/jundongl/scikit-feature"}

[requires]
python_version = "3.7"
